.back {
  width: 100vw;
  height: 100vh;
  background-color: #40503c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 450px;
  height: 450px;
  border-radius: 15px;
  box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.21);
  -webkit-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.21);
}

.header {
  width: 100%;
  height: 70px;
  background-color: rgb(32, 41, 30);
  border-radius: 15px 15px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.mdBright {
  color: white;
  width: 25px;
  height: 25px;
  margin-left: 10px;
}

.header span {
  color: #eaab2c;
  font-size: large;
  margin: 0 10px;
}

.container {
  width: 100%;
  height: 380px;
  background-color: rgb(37, 54, 36);
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3) inset;
}

.inputBox {
  width: 100%;
  height: 65px;
  background-color: rgb(30, 44, 29);
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3) inset;
  position: relative;
  top: 315px;
  text-align: center;
}

.input {
  width: 350px;
  height: 40px;
  border-radius: 8px 0 0 8px;
  position: relative;
  top: 12px;
}

.inputButton {
  width: 70px;
  height: 40px;
  background-color: #eaab2c;
  color: white;
  border-radius: 0 8px 8px 0;
  position: relative;
  top: 12px;
}
